

.mui-segmented-control {
	background: white !important;
	width: 60% !important;
	margin-left: 20% !important;
	height: .66rem !important;
	margin-top: -.11rem !important;
	overflow: hidden !important;
	border: solid 1px white !important;
}

.mui-control-item {
	height: .66rem !important;
	line-height: .66rem !important;
	border-bottom: 0 !important;
	background: #0b8ffe !important;
	color: white !important;
	border-left: solid 1px white !important;
}

.mui-control-item-one {
	border-left: 0 !important;
}

.mui-active {
	background: white !important;
	color: #0b8ffe !important;
}

.mui-control-item {
	color: #fff !important;
}

.mui-segmented-control .mui-control-item.mui-active {
	color: #007aff !important;
	background-color: #fff;
}

#spread_integral {
	text-align: center;
	line-height: 3rem;
}

#spread_integral span {
	font-size: .88rem;
	color: #FFF;
}

#spread_integral input {
	color: #FFF;
	height: .63rem;
	background: rgb(255, 153, 0);
	position: relative;
	top: -1.1rem;
	left: 6rem;
}

li.item {
	background: rgb(255, 255, 255) !important;
}

#level_integral {
	text-align: center;
	line-height: 2rem;
}

#level_integral input {
	color: #FFF;
	height: .63rem;
	background: rgb(255, 153, 0);
	position: relative;
	top: -1.5rem;
	left: 6rem;
}

#spread_integral{
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
	text-align: center !important;
}

#spread_integral div{
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}

#spread_integral div span{
	display: block !important;
	width: 100% !important;
	height: 30px !important;
	line-height: 30px !important;
	margin-top: 25px;
}

.jfhead{
	height: auto !important;
	min-height: 0 !important;
	line-height: 0px !important;
	text-align: center !important;
}

.spread_integral_button_div{
	margin-bottom: 10px !important;
}

.spread_integral_button_div a{
	display: block;
	width: 80px !important;
	padding: 0 !important;
	margin: 0 !important;
}
